<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
        <ol> 
                <!-- For loop logic of jinja template -->
                {%for i in range(0, len)%} 
                  
                    <li>{{records[i]}}</li>
                    <form action="/deletefile" method="POST" >
                    <button style="font-size:16px" name="delete" value="{{ records[i] }}">Delete <i class="fa fa-close"></i></button>
                    </form> 
                {%endfor%} 
                  
        </ol> 
</body>
</html>